// @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');
@import url('./nullstyle.css');
:root{
	--ff2: "M PLUS Rounded 1c";
}

#root{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.page{
	flex: 1 1 auto;
	padding-top: 86px;
}

html[theme="light"]{
	--color-main: #1A202C;
	--color2: #FFFFFF;
	--color3: #2C7A7B;
	--color-link: #3D7AED;
	
	--bg-color: #f0e7db;
	--bg-color2: #319795;
	--bg-color3: #ffffff40;
	--bg-color4: #88ccca;
	--bg-color5: #805AD5;
	--bg-color6: #FBD38D;
	--bg-color7: rgba(255, 255, 255, 0.36);
	--bg-color8: #E6FFFA;
	--bg-color-year: #EDF2F7;
	--bg-color-span: #C6F6D5;
	--bg-color-navMenu: #fff;

	--border-img-avatar: #E2E8F0;
	--border-color: #E2E8F0;
}

html[theme="dark"]{	
	--color-main: rgba(255, 255, 255, 0.92); //
	--color2: #1A202C; //
	--color3: #81E6D9; //
	--color-link: rgb(255, 99, 195);
	
	--bg-color: #202023; //
	--bg-color2: #81E6D9; //
	--bg-color3: #20202380; //
	--bg-color4: #88ccca; //
	--bg-color5: #805AD5; //
	--bg-color6: #FBD38D; //
	--bg-color7: rgba(255, 255, 255, 0.08); //
	--bg-color8: #81e6d918;
	--bg-color-year: #E2E8F029;
	--bg-color-span: #9ae6b57e;
	--bg-color-navMenu: #2d3748;


	--border-img-avatar: #E2E8F0;

	--border-color: rgba(255, 255, 255, 0.16);
}

body{
	background-color: var(--bg-color);
	color: var(--color-main);
	font-size: 16px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	line-height: 1.5;
}

._container{
	max-width: 485px;
	margin: 0 auto;
	padding: 0 16px;
}
.title{
	display: inline-block;
	h3{
		font-family: var(--ff2);
		font-weight: bold;
		font-size: 20px;
		margin: 28px 0 16px;
		position: relative;
		line-height: 1.2;
		text-decoration: underline 4px rgb(82, 82, 82);
		text-underline-offset: 6px;
	}
}

.footer{
	& p{
		color: var(--color-main);
		opacity: .4;
		text-align: center;
		padding: 16px 0;
	}
}

.icon-arrow{
}