.page{
}

.home-page-about{
	&__greetings{
		padding: 12px;
		margin-bottom: 24px;
		background-color: var(--bg-color7);
		border-radius: 10px;
		text-align: center;
	}
	&__about{
		display: flex;
		justify-content: space-between;
		& > img{
			width: 96px;
			height: 100px;
			border-radius: 50%;
			border: 2px solid var(--border-img-avatar);
		}
		@media (max-width: 700px){
			flex-direction: column;
			row-gap: 16px;
			& > img{
				margin: 0 auto; 
			}
		}
	}
	&__info{
		& > h2 {
			font-family: var(--ff2);
			font-weight: bold;
			font-size: 36px;
			margin-bottom: 10px;
			line-height: 1.2;
			@media (max-width: 700px){
				font-size: 30px;
				margin-bottom: 0;
			}
		}
	}
}

.home-bio{
	&__info{
		display: flex;
		flex-direction: column;
		gap: 14px;
	}
	&__text{
		display: flex;
		align-items: center;
		& > span{
			font-family: var(--ff2);
			font-weight: bold;
			font-size: 16px;
			margin-right: 16px;
			line-height: 150%;
		}
	}
}

.home-page-stack{
	&__list{
		flex-direction: column;
		gap: 7px;
		& > li {
			&:not(:last-child){
				margin-bottom: 5px;
			}
		}
	}
	&__item{
		transition: all 0.3s ease 0s;
		& > a{
			color: var(--color-main);
			&:hover{
				text-decoration: underline;
				text-underline-offset: 5px;
			}
		}
	}
}

.home-page-links{
	& ul{
	}
	& ul > li > a{
		color: var(--color3);
		display: inline-flex;
		align-items: center;
		gap: 7px;
		padding: 8px 16px;
		border-radius: 5px;
		transition: all 0.3s ease 0s;
		line-height: 1.2;
		&:hover{
			background-color: var(--bg-color8);
		}
		&:active{
			filter: brightness(.9);
		}
	}
}